@page
@model MarkPeople.Pages.Peoples.DetailsModel

@{
    ViewData["Title"] = "Подробно";
}

    <h1>Подробно</h1>

<div>
    <h4>Список людей</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Имя
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.People.PeopleName)
        </dd>
        <dt class="col-sm-2">
            Фамилия
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.People.PeopleSurname)
        </dd>
        <dt class="col-sm-2">
            Возраст
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.People.PeopleAge)
        </dd>
        <dt class="col-sm-2">
            Вес
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.People.PeopleWeight)
        </dd>
        <dt class="col-sm-2">
            День рождения
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.People.PeopleBDay)
        </dd>
        <dt class="col-sm-2">
            Страна
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.People.Country.NameCountry)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.People.PeopleId">Редактировать</a> |
    <a asp-page="./Index">Назад к списку</a>
</div>
