@page
@model MarkPeople.Pages.Marks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MarkQuality</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MarkQuality.People)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MarkQuality.People.PeopleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MarkQuality.Beauty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MarkQuality.Beauty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MarkQuality.Power)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MarkQuality.Power)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MarkQuality.Mind)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MarkQuality.Mind)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MarkQuality.IsLikePizzaPineApple)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MarkQuality.IsLikePizzaPineApple)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MarkQuality.MarkQualityId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
