@page
@model MarkPeople.Pages.Marks.IndexModel

@{
    ViewData["Title"] = "Список качеств людей";
}

    <h1>Список качеств людей</h1>

<p>
    <a asp-page="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Человек
            </th>
            <th>
                Красота
            </th>
            <th>
                Сила
            </th>
            <th>
                Ум
            </th>
            <th>
                Любит пиццу с ананами
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MarkQuality) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.People.PeopleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beauty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Power)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mind)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLikePizzaPineApple)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MarkQualityId">Редактировать</a> |
                <a asp-page="./Details" asp-route-id="@item.MarkQualityId">Подробно</a> |
                <a asp-page="./Delete" asp-route-id="@item.MarkQualityId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
